/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family: Comic Sans ;

}
h2 {
  color: rgba(1, 12, 24, 0.5);
}